---
layout: "secret"
title: "Methodology | The Secret: A Treasure Hunt"
section: "methodology"
shadow_theory_url: "https://mysteriouswritings.com/the-secret-of-the-secret-armchair-treasure-hunt-by-deidra-and-dustin-white"
icon_to_path_url: "https://12treasures.com/podcast-player/53/shhh-the-secret-podcast-episode-2.mp3"
litany_url: "https://www.thesecretofthesecret.com/post/the-litany-of-the-jewels"
dutch_url: "https://www.thesecretofthesecret.com/post/going-dutch"
---

<% content_for :article_header do %>
  <% article_header do %>
    <%= article_title "Methodology" %>
  <% end %>
<% end %>

<% content_for :article_body do %>
  <% section_tag do %>
    <% paragraph_tag do %>
      There are a number of different theories about how these puzzles work.
      Some of the more high profile ones are
      <cite>
        <%= link_to "Icon to Path", current_page.data.icon_to_path_url, class: "underline" %>
      </cite>
      (generally attributed to Matt Sparks aka maltedfalcon) and
      <cite>
        <%= link_to "The Shadow Theory", current_page.data.shadow_theory_url, class: "underline" %>
      </cite>
      (by Deidra and Dustin White). I'm sure there are many more, but these are
      the two that receive most of the attention.
    <% end %>

    <% paragraph_tag do %>
      With only 3 casques found, there are so few data points, it's hard to
      know if any of these theories carry any real weight. Do your due
      dilligence and faimiliarize yourself with them, then make your judgments.
    <% end %>

    <% paragraph_tag do %>
      Below I will present my approach to attempting to solve the puzzles within
      The Secret. <mark>These are just my opinions</mark>, your mileage may
      vary. That said, I am extremely open to having these opinions viewed
      critially and challenged through healthy debate.
    <% end %>
  <% end %>

  <% section_tag do %>
    <%= section_subtitle "Theories" %>

    <% paragraph_tag do %>
      This section is general theories that relate to ideas that underlie
      <cite>The Secret</cite> as a whole.
    <% end %>

    <ul class="list-disc list-inside">
      <li>
        <%= link_to "Verse Structure", "/secret/methodology/verse-structure", class: "underline" %>
      </li>
      <li>
        <%= link_to "Types of Stanzas", "/secret/methodology/stanzas", class: "underline" %>
      </li>
      <li>
        <%= link_to "The Litany of the Jewels", current_page.data.litany_url, class: "underline" %>
      </li>
      <li>
        <%= link_to "Proof for Verse 5 / Image 9 Pairing", current_page.data.dutch_url, class: "underline" %>
      </li>
    </ul>
  <% end %>

  <% section_tag do %>
    <%= section_title "Drafts" %>

    <% paragraph_tag do %>
      This section contains ideas that are works in progress, not yet fully
      flushed out, but I wanted to capture an idea.
    <% end %>

    <ul class="list-disc list-inside">
      <li>
        <%= link_to "The Importance of Duality", "/secret/methodology/duality", class: "underline" %>
      </li>
      <li>
        <%= link_to "Clues from Abroad in America", "/secret/methodology/abroad-in-america", class: "underline" %>
      </li>
    </ul>
  <% end %>

  <% section_tag do %>
    <%= section_title "Obsolete" %>

    <% paragraph_tag do %>
      As with anything, when new evidence comes to light and new theories are
      formed, old theories become obsolete. This is the list of ideas that I
      have moved away from. I keep them here purely as documentation.
    <% end %>

    <ul class="list-disc list-inside">
      <li>
        <%= link_to "Narrowing Focus", "/secret/methodology/narrowing-focus", class: "underline" %>
      </li>
    </ul>
  <% end %>
<% end %>

<% article_tag do %>
  <%= yield_content :article_header %>

  <%= yield_content :article_body %>

  <%= yield_content :article_footer %>
<% end %>
