---
layout: "secret"
title: "Methodology | The Secret: A Treasure Hunt"
section: "methodology"
shadow_theory_url: "https://mysteriouswritings.com/the-secret-of-the-secret-armchair-treasure-hunt-by-deidra-and-dustin-white"
---

<% content_for :article_header do %>
  <% article_header do %>
    <%= article_title "Methodology" %>
  <% end %>
<% end %>

<% content_for :article_body do %>
  <% section_tag do %>
    <% paragraph_tag do %>
      There are a number of different theories about how these puzzles work.
      Some of the more high profile ones are <cite>Icon to Path</cite>
      (generally attributed to Matt Sparks aka maltedfalcon) and
      <cite>
        <%= link_to "The Shadow Theory", current_page.data.shadow_theory_url, class: "underline" %>
      </cite>
      (by Deidra and Dustin White). I'm sure there are many more, but these are
      the two that receive most of the attention.
    <% end %>

    <% paragraph_tag do %>
      With only 2 casques found, there are so few data points, it's hard to
      know if any of these theories carry any real weight. Do your due
      dilligence and faimiliarize yourself with them, then make your judgments.
    <% end %>

    <% paragraph_tag do %>
      Below I will present my approach to attempting to solve the puzzles within
      The Secret. <mark>These are just my opinions</mark>, your mileage may
      vary. That said, I am extremely open to having these opinions viewed
      critially and challenged through healthy debate.
    <% end %>
  <% end %>

  <% section_tag do %>
    <%= section_title "Theories" %>

    <ul class="list-disc list-inside">
      <li>
        <%= link_to "The Importance of Duality", "/secret/methodology/duality", class: "underline" %>
      </li>
      <li>
        <%= link_to "Narrowing Focus", "/secret/methodology/narrowing-focus", class: "underline" %>
      </li>
      <li>
        <%= link_to "Verse Structure", "/secret/methodology/verse-structure", class: "underline" %>
      </li>
    </ul>
  <% end %>
<% end %>

<% article_tag do %>
  <%= yield_content :article_header %>

  <%= yield_content :article_body %>

  <%= yield_content :article_footer %>
<% end %>
