---
layout: "secret"
title: "Resources | The Secret: A Treasure Hunt"
section: "resources"
---

<% content_for :article_header do %>
  <% article_header do %>
    <%= article_title "Resources" %>
  <% end %>
<% end %>

<% content_for :article_body do %>
  <% section_tag do %>
    I wanted to share a list of places on the internet to learn more about
    <cite>The Secret</cite> and also give credit to some of the places that
    helped me build the ideas expressed on this website.
  <% end %>

  <% section_tag do %>
    <%= section_title "Primer" %>

    <% paragraph_tag do %>
      Start here. Dig in.
    <% end %>

    <ul class="list-disc list-inside">
      <li>
        <%= link_to "12 Treasures Podcast",
                    "http://12treasures.com",
                    class: "underline" %>
      </li>
  <% end %>

  <% section_tag do %>
    <%= section_title "Discussion" %>

    <% paragraph_tag do %>
      A list of places where you can chat with other like minded fans of
      <cite>The Secret</cite>
    <% end %>

    <ul class="list-disc list-inside">
      <li>
        <%= link_to "Facebook Group",
                    "https://www.facebook.com/groups/thesecrettreasures/",
                    class: "underline" %>
      </li>
      <li>
        <%= link_to "Subreddit",
                    "https://www.reddit.com/r/12keys/",
                    class: "underline" %>
      </li>
    </ul>
  <% end %>

  <% section_tag do %>
    <%= section_title "Research" %>

    <% paragraph_tag do %>
      Places to search through and learn from the years of experience that 
      people have put into these puzzles.
    <% end %>

    <ul class="list-disc list-inside">
      <li>
        <%= link_to "Quest 4 Treasure",
                    "http://quest4treasure.co.uk/phpbb3/viewforum.php?f=32",
                    class: "underline" %>
      </li>
    </ul>
  <% end %>
<% end %>

<% article_tag do %>
  <%= yield_content :article_header %>

  <%= yield_content :article_body %>

  <%= yield_content :article_footer %>
<% end %>
