---
title: Chris Woodford
---

<ul>
  <li>
    <%= link_to "Blog", "https://blog.chriswoodford.ca" %>
  </li>
  <li>
    <%= link_to "Work", "https://gobble.com" %>
  </li>
</ul>

<ul>
  <li>
    <%= link_to "Hypaethral Records", "https://hypaethralrecords.com" %>
  </li>
  <li>
    <%= link_to "TITAN", "https://titanslays.com" %>
  </li>
  <li>
    <%= link_to "Oracle Bones", "https://oraclebones.bandcamp.com" %>
  </li>
  <li>
    <%= link_to "I Spoke", "https://ispoke.bandcamp.com" %>
  </li>
  <li>
    <%= link_to "Notion of Distance", "https://middlemanrecords.bandcamp.com/album/soliloquies" %>
  </li>
</ul>

<ul>
  <li>
    <%= link_to "Hobbies", "/secret" %>
  </li>
</ul>
