---
layout: "secret"
title: "Narrowing Focus | The Secret: A Treasure Hunt"
lnglat_theory_url: "http://12treasures.com/q4t/viewtopic5819.html?p=11970"
---

<article class="container mx-auto">
  <header class="pt-4 mb-4">
    <h1>Narrowing Focus</h1>
  </header>

  <section class="pt-4 mb-4">
    <h2>Introduction</h2>

    <p class="pb-4">
      Imagine it's 1982. <cite>The Secret</cite> has just been released. Byron
      Preiss expects you to interpret an painting/verse pair, to get you to an
      exact location to dig up a buried treasure. There's no Google Maps, no
      Google Street View. There's barely even GPS, unless you're in the
      military.
    </p>

    <p class="pb-4">
      So what are the tools that he expected you to be able to solve these
      puzzles with?

      <blockquote cite="https://12treasures.com/2018/12/24/the-secret-32/">
        <p>
          In our land and in our time, the Fair People and<br>
          their treasures yet wait to be discovered. If Man is<br>
          good, and kind, and playful, he and she will find<br>
          them.<br>
          That is The Secret.
        </p>

        <footer>
          <cite>&ndash; The Secret: A Treasure Hunt</cite> pg. 32
        </footer>
      </blockquote>
    </p>

    <p class="pt-4">
      Unfortunately, <q>good, and kind, and playful</q> doesn't really help all
      that much. Maybe <q>playful</q> refers to a certain amount of whimsy
      required for interpreting the verses, but it's really hard to say.
    </p>

    <p class="pt-4">
      Realistically, the expected toolset looked more like:
    </p>

    <ul>
      <li>City Maps</li>
      <li>Tourist Maps</li>
      <li>Compass, Protractor, etc</li>
      <li>Knowledge of Iconic Landmarks</li>
      <li>Libraries</li>
      <li>Newspapers</li>
      <li>Encyclopaedias</li>
    </ul>

    <p class="pt-4">
      You'll notice that I didn't mention "boots on the ground" investigation.
      That's because an element of these puzzles were intended to be an
      "armchair treasure hunt", i.e. you could, in theory, solve these puzzles
      without ever having left your house. This is referenced in "The Treasure"
      section at the back of the book.
    </p>

    <blockquote>
      <p>
        You may also use this form if you believe you have determined the
        location of a treasure but are unable to explore it in person.
      </p>

      <footer>
        <cite>&ndash; The Secret: A Treasure Hunt</cite> pg. 219
      </footer>
    </blockquote>

    <p class="pt-4">
      Preiss was open to the possibility that it could be solved without
      exploring. I mean, why else would they have done a Japanese edition, if
      there was no chance that it could be solved without actually being there.
    </p>

    <p class="pt-4">
      Ignoring all of the technological advances at our fingertips and thinking
      about how we would have had to approach this in 1982, I will outline a
      theory that the painting, verse, or both, offer a progressive narrowing of
      focus to guide the hunter as close as possible to the dig site, before
      requiring the boots on the ground investigation.
    </p>
  </section>

  <section class="mb-4 pt-4">
    <h2>Narrow to the State</h2>

    <p class="pt-4">
      Each painting has a stylized depiction of the state where we are to place
      our initial focus. This is easier to see in some paintings, than in others.
      This is the most macro piece of information found in the paintings.
    </p>

    <p class="pt-4">
      Here is an example from Image 5, showing an outline of the state of
      Illinois.
    </p>

    <figure>
      <%= image_tag "images/secret/paintings/05/illinois.jpg" %>
      <figcaption>
        Compare the outline in the image on the left to the state outline on the
        right. Image 5 has been flipped horizontally.
      </figcaption>
    </figure>

    <p class="pt-4">
      A State is an extremely large area to cover for a treasure hunter, so it
      seems fair to assume that this is just the first of a set of clues to
      help get us closer to the right location.
    </p>
  </section>

  <section class="mb-4 pt-4">
    <h2>Narrow to the City</h2>

    <p class="pt-4">
      The next big breakthrough in narrowing focus came back in 2004 from a user
      on the Quest for Treasure forum named "fox". As far as I can tell, fox was
      the first to identify the
      <cite>
        <%= link_to "longitude/latitude pairs", current_page.data.lnglat_theory_url %>
      </cite>
      that are found in all (but one?) of the paintings.
    </p>

    <p class="pt-4">
      Two longitude/latitude pairs will define a boundary box around a
      particular area. This is how we can narrow focus from an entire state to a
      precise city (or couple of cities).
    </p>

    <p class="pt-4">
      Below is an example from Image 1, showing the numbers that represent the
      latitude and longitude points. Within the hair, you can see the numbers
      37 and 38, which are the latitude points. Along the dress you can see
      Roman Numerals representing 122 and 123, which are the longitude points.
      Though, in order for the longitude points to actually point to the United
      States, we have to use -122 and -123.
    </p>

    <figure>
      <%= image_tag "images/secret/paintings/01/lng_lat.jpg" %>
      <figcaption>
        37 and 38, representing the latitude are seen in the hair. 122 and 123,
        representing the longitude are seen in the dress.
      </figcaption>
    </figure>

    <p class="pt-4">
      Treating those numbers as max/min pairs of latitudes and longitudes will
      draw a bounding box around the city of San Francisco. The bounding box
      narrows our focus from an entire state, to a particular city (or
      cities...) within that state. In the picture below, you'll see that the
      Bay Area should be our area of focus.
    </p>

    <figure>
      <%= image_tag "images/secret/paintings/01/bounding_box.jpg" %>
      <figcaption>
        San Francisco appears near the middle of the bounding box defined by the
        latitude and longitude points found in the painting.
      </figcaption>
    </figure>

    <p class="pt-4">
      Unfortunately the bounding box does not give us a 100% deterministic city
      to start searching in, i.e. is it San Francisco, or maybe Oakland? Since
      the area defined is still too large for someone to reasonably search for a
      buried treasure, we continue to look in the painting for information to
      help us to further narrow our investigation.
    </p>
  </section>

  <section class="mb-4 pt-4">
    <h2>Narrow to the General Location</h2>

    <blockquote cite="https://12treasures.com/2018/12/24/the-secret-1/">
      <p>
        A quest for twelve treasures: over ten thousand<br>
        dollars in precious jewels. They may be hidden in<br>
        your city or your local park or even in your own<br>
        backyard.
      </p>

      <footer>
        <cite>&ndash; The Secret: A Treasure Hunt</cite> pg. 1
      </footer>
    </blockquote>

    <p class="pt-4">
      We learn on page 1 of the book that we are probably looking for a park (or
      something similar). Continuing with the above example of San Francisco,
      assuming we are able to rule out Oakland as an area of interest, there are
      223 public parks within the city limits of San Francisco. In 1982, It
      would have taken years to thoroughly investigate each one. There has to be
      a way to narrow our focus even more.
    </p>

    <p class="pt-4">
      For this, I've taken a clue from the first Painting that we see in the
      book. It has two conspicuous symbols that look like symbols from a
      topographic map. Remember, <q>Fairies secrets / Come in twos</q>...
    </p>

    <figure>
      <%= image_tag "images/secret/paintings/01/topographical_symbols.jpg" %>
      <figcaption>
        In topological maps, The square with a dot in the center represents a
        boundary marker; the triangle with a dot in the center is a
        horizontal control.
    </figure>

    <p class="pt-4">
      Given that this treasure hunt was conceived in 1982, maps were one of the
      most readily available sources of data for getting to a dig location. We
      already know that we are expected to be able to identify a state from its
      outline and interpret geocoordinates. It does not seem like a far stretch
      to assume that we are also expected to understand a few common map
      symbols. Let's look at some definitions of these symbols.
    </p>
  </section>

  <section class="mb-4 pt-4">
    <h3>Horizontal Controls</h3>

    <blockquote cite="https://www.usgs.gov/media/images/cast-bronze-benchmark">
      <p>
        "horizontal control points" are points with precisely established
        latitude and longitude.
      </p>

      <footer>
        <cite>&ndash; United States Geological Survey (USGS)</cite>
      </footer>
    </blockquote>

    <p class="pt-4">
      The triangle symbol is known as a horizontal control. From the definition
      above, it sounds like we have already determined that there are horizontal
      control points embedded in the painting. We have identified that there are
      four latitude and longitude points.
    </p>

    <p class="pt-4">
      Each latitude/longitude pair creates a precisely established point:
    </p>

    <ul>
      <li>(min lat, min lng)</li>
      <li>(min lat, max lng)</li>
      <li>(max lat, min lng)</li>
      <li>(max lat, max lng)</li>
    </ul>

    <p class="pt-4">
      These points are the horizontal controls hinted at by the presence of the
      triangle with the dot in the middle. They define the bounding box around
      the city-level area of interest.
    </p>
  </section>

  <section class="mb-4 pt-4">
    <h3>Boundary Markers</h3>

    <blockquote cite="https://en.wikipedia.org/wiki/Boundary_marker">
      <p>
        A boundary marker, border marker, boundary stone, or border stone is a
        robust physical marker that identifies the start of a land boundary or
        the change in a boundary, especially a change in direction of a
        boundary.
      </p>

      <footer>
        <cite>&ndash; Wikipedia</cite>
      </footer>
    </blockquote>

    <p class="pt-4">
      After having found something in the paintings that matches the horizontal
      control symbol, it seems reasonable to continue inspecting the paintings
      to see if there is anything that matches the definition of a boundary
      marker. This is where I believe the "iconic images" come into play.
    </p>

    <p class="pt-4">
      Each painting has a number of images embedded within it, many of which are
      exact matches for physical things in the real world. Some of these, like
      the Chicago Water Tower in Painting 5 or Milwaukee City Hall in Painting
      10, are easier to spot. Others, like the Cleveland Terminal Tower in
      Painting 4 are harder to find, because you have to interpret the negative
      space between the trees. In both cases, the images are widely recognized
      and well-established icons in their respective cities.
    </p>

    <p class="pt-4">
      After identifying these iconic images, my hypothesis is that they are a
      reasonably good candidate for something that can be considered as a
      "boundary marker". As described above, boundary markers identify the start
      of a boundary, which in this interpretation, would be the start of the
      boundary around the park (or other public location) where the casque is
      buried. Narrowing our focus further, from the bounding box defined by the
      horizontal controls, to a more precise location.
    </p>

    <p class="pt-4">
      In order to test this hypothesis, the iconic images need to be plotted on
      a map and analyzed to determine if any important information can be
      learned.
    </p>

    <p class="pt-4">
      Given that only two casques have been found so far, in Chicago and
      Cleveland, I always test my hypotheses on those two use cases first.
    </p>
  </section>

  <section class="mb-4 pt-4">
    <h4>Chicago Boundary Markers</h4>

    <p class="pt-4">
      There are at least three images in Painting 5 that are unrelated to the dig
      site, but that can be considered as iconic markers: the Chicago Water
      Tower, the Fountain of the Great Lakes, and Chicago Central Station.
      Even though the Chicago Central Station was demolished in 1974
      (approximately 6 years before Preiss buried the casque), you still see
      some of its features prominently in the painting. It would have been well
      known to anyone living in Chicago at the time.
    </p>

    <p class="pt-4">
      If we are going to treat these icons as boundary markers, we need to plot
      them on a map. I think it is reasonable to believe that this is something
      Preiss expected us to do. Especially for those trying to find the treasures
      from their armchairs.
    </p>

    <p class="pt-4">
      Once plotted on the map, we can draw lines that represent the boundaries
      implied by the markers.
    </p>

    <figure>
      <%= image_tag "images/secret/paintings/05/boundary_markers.jpg" %>
      <figcaption>
        Marker 1 is the Chicago Water Tower; Marker 2 is the Fountain of the
        Great Lakes; Marker 3 is Chicago Central Station.
      </figcaption>
    </figure>

    <p class="pt-4">
      Horizontally, Markers 1 and 3 define the northern and southern most
      boundaries, respectively. They focus our attention on an area that
      contains a small handful of parks as our potential areas of interest.
      The boundary defined by Marker 2 cuts horizontally through Grant Park.
      Vertically, The water line and Marker 1 define eastern and western
      boundaries.
    </p>

    <p class="pt-4">
      The intersection of these boundary lines limits our area of interest to
      a small section of the city, east of Michigan Ave. It's pretty clear from
      the grid that Grant Park is where we should start investigating.
    </p>

    <p class="pt-4">
      At this point, looking within the boundaries, we would start to see
      connections to the Map Locator Stanza in Verse 12. <q>Seek the sounds /
      Of rumble / Brush and music</q>. We see that Marker 2 is cutting through
      the railroad tracks, the Art Institute, and the Chicago Symphony
      Orchestra. This tells us to go to the intersection of Marker 1 and Marker
      2 to start our investigation.
    </p>

    <p class="pt-4">
      As we know, the intersection of Marker 1 and 2 is where you see that the
      names of Mozart and Beethoven are set in stone on the wall of the Symphony
      Orchestra, which coincides with Line 1 of the Starting Point Stanza,
      <q>Where M and B are set in stone</q>. Steps away we see Roosevelt
      University and Congress Parkway, which aligns with Line 2 of the Starting
      Point Stanza, <q>And to Congress, R is known</q>.
    </p>

    <p class="pt-4">
      With the Starting Point Stanza confirmed within the boundaries defined by
      the iconic imagines, it is pretty certain that the casque is buried in
      Grant Park. Luckily, since this is one of the casques that was found, we
      can confirm with certainty that Grant Park is correct.
    </p>
  </section>

  <section class="mb-4 pt-4">
    <h2>Criticism</h2>

    <p class="pt-4">
      One criticism of the Narrowing Focus theory is that the iconic images can
      get you to the city, without the need for the state outline or the
      bounding box. This was proven in practice by the folks who found the
      Chicago casque. The key point of reference for them was the Chicago Water
      Tower, and that got them to their city.
    </p>

    <p class="pt-4">
      The claim above is irrefutable. I cannot deny that they were able to skip
      straight to Chicago once they saw the Water Tower. The iconic images are
      iconic for a reason! Especially for someone who lives in the city of the
      iconic image. But we know that this treasure hunt was intended for a more
      broad audience, who might not even have realized that was the iconic
      Chicago Water Tower until after they narrowed to Illinois and then started
      looking at maps and pictures of Chicago. One thing that I can say, is that
      the presence of the state outline and the bounding box show that BP had
      something else in mind. If he truly thought that the iconic images were
      enough information to get someone to the dig location, then there would be
      no reason to include the state and geocoordinates at all.
    </p>

    <p class="pt-4">
      ...Another criticism, boundary marker is a reference to the western terminus of the lincoln highway or ocean beach...
    </p>
  </section>

  <footer>
  </footer>
</article>
